
.home .homeslider .slide{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap:2rem; 
background: linear-gradient(0.25turn, #f2f5f7, #c7e8f0, #c6c8e6);
    padding:2rem 9%;
    height: auto;
    /* background-color: red; */
    width: 100%;
  }
  
  .home .homeslider .slide .content{
    /* flex:1 1 45rem; */
    /* width: 50%; */
    /* background-color: blue; */
    width: 50%;
  
  }
  
  .home .homeslider .slide .image{
    /* flex:1 1 45rem; */
    /* width: 50%; */
    /* background-color: rgb(0, 255, 76); */
    width: 50%;
    /* margin-top: 4rem; */
  }
  .home .homeslider .slide .image img{
    /* width: 100%; */
    /* background-color: rgb(255, 0, 119); */
    width: 100%;
  }
  
  
  .home .homeslider .slide .content span{
    color:var(--green);
    font-size: 2.5rem;
  }
  
  
  .home .homeslider .slide .content h3{
    color:var(--blackblue);
    font-size: 7rem;
  }
  
  .home .homeslider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
  }
  
  .btn{

    background-color: var(--violet);
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: .8rem 3rem;;
    font-size: 1.7rem;
    margin-top: 1rem;
    display: inline-block;
  }
  
   .btn:hover{
     background: var(--blackblue);
    letter-spacing: .1rem; 
  } 

  @media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }
  
  @media (max-width:991px){
  
    .home .homeslider .slide{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap:2rem; 
      background: linear-gradient(0.25turn, #f2f5f7, #c7e8f0, #c6c8e6);
      padding:1rem 2rem;
      height: auto;
      width: 100%;
    }

  
    .home .homeslider .slide .content span{
      color:var(--green);
      font-size: 2rem;
    }
    
    .home .homeslider .slide .content h3{
      color:var(--blackblue);
      font-size: 4rem;
    }
    
    .home .homeslider .slide .content p{
      color:var(--light-color);
      font-size: 2rem;
      padding:.5rem 0;
      line-height: 1.5;
    }
    
    
    
    .btn{
    
      background-color: var(--violet);
      color: #fff;
      border-radius: 0.5rem;
      cursor: pointer;
      padding: .8rem 3rem;;
      font-size: 1.7rem;
      margin-top: 1rem;
       display: inline-block;   
    }    
  }
  @media (max-width:450px) {
      
  .home .homeslider .slide .content span{
    color:var(--green);
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
  }
  
  .home .homeslider .slide .content h3{
    color:var(--blackblue);
    font-size: 1rem;
    font-weight: bold;
  }
  
  .home .homeslider .slide .content p{
    color:var(--light-color);
    font-size: 1rem;
    padding:.5rem 0;
    line-height: 1.5;
  }
  
  }
  
  @media (max-width:768px){
  
    .slide
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      gap:2rem; 
      /* background: linear-gradient(0.25turn, #f2f5f7, #c7e8f0, #c6c8e6); */
      padding:1rem 2rem;
      height: auto;
      width: 100%;
      
    }
    
  .home .homeslider .slide .image{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .home .homeslider .slide .image img{
    /* width: 100%; */
    /* background-color: rgb(255, 0, 119); */
    width: 100%;
  }

    
  .home .homeslider .slide .content {
    color:var(--green);
    width: 100%;

  }
  
  .home .homeslider .slide .content span{
    color:var(--green);
    font-size: 4rem;
    width: 100%;
    font-weight: bold;
  }
  
  .home .homeslider .slide .content h3{
    color:var(--blackblue);
    font-size: 3rem;
    font-weight: bold;
  }
  
  .home .homeslider .slide .content p{
    color:var(--light-color);
    font-size: 3rem;
    padding:.5rem 0;
    line-height: 1.5;
  }
  
  
  .btn{
    background-color: var(--violet);
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: .8rem 3rem;;
    font-size: 2rem;
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
  }

  }